<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/">

  <link rel="stylesheet" href="./css/main.css" />
  <title>Blog</title>
</head>

<body data-theme="retro">
  <nav class="bg-[#ba8d2c]">
    <div class="navbar md:justify-end">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost sm:hidden sm:items-end">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><a class="active:bg-[#ca8a04]" href="/">Home</a></li>
          <li>
            <a class="active:bg-[#ca8a04]" href="/Compose"> Compose </a>
          </li>
          <li><a class="active:bg-[#ca8a04]" href="/about">About</a></li>
          <li><a class="active:bg-[#ca8a04]" href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">dailyJournal</a>
      </div>
      <div class="navbar-end hidden sm:flex ">
        <ul class="menu menu-horizontal px-1 divide-x-2 divide-solid divide-opacity-30 divide-teal-900">
          <li><a class="px-2 active:bg-[#ca8a04]" href="/">Home</a></li>
          <li>
            <a class="px-2 active:bg-[#ca8a04]" href="/Compose"> Compose </a>
          </li>
          <li><a class="px-2 active:bg-[#ca8a04]" href="/about">About</a></li>
          <li><a class="px-2 active:bg-[#ca8a04]" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="stripes">