<%- include('partials/header') %>
<!-- header goes hear -->
<section
  class="h-screen overflow-auto max-w-[90%] mx-auto bg-[#ddcaa3] px-10 pt-10"
>
  <div class="rounded-3xl border-2 border-yellow-600 divide-y divide-yellow-500 mb-3"
  ">
    <h2 class="p-3 font-semibold text-xl pb-0"><%= staticPostTitle %></h2>
    <p class="px-3 pb-3"><%= staticPostContent %></p>
  </div>

</section>

<!-- footer goes here -->
<%- include('partials/footer') %>
